<!doctype html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8" />
        <title>Vanulio Wedding</title>
        <link rel="stylesheet" href="{{assetsPosition}}/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <link rel="icon" type="image/gif" href="{{assetsPosition}}/assets/favicon.gif" />
        <link href="https://fonts.googleapis.com/css?family=Aleo Light&display=swap" rel="stylesheet" />
    </head>
    <body>
        <a href="./photos" class="photos-link">{{photosLinkText}}</a>

        <section class="married">
            <div class="married-box">
                <img class="married-names-img-small" src="{{assetsPosition}}/assets/title_stack.png" />
                <img class="married-names-img" src="{{assetsPosition}}/assets/title.png" />
                <p class="married-title">{{marriedSubtitle}}</p>
            </div>

            <div class="married-polaroid-container">
                <div class="married-polaroid-banner"></div>
                <div class="married-polaroid">
                    <div class="married-polaroid-frame">
                        <img class="married-polaroid-frame-image" src="{{assetsPosition}}/assets/heart.png" alt="heart" />
                    </div>
                    <p class="married-polaroid-save-date">{{saveTheDate}}</p>
                    <p class="married-polaroid-date">16.08.2025</p>
                </div>
            </div>
        </section>

        <section class="countdown">
            <p class="countdown-title">{{countdown}}</p>
            <div class="countdown-time">
                <div class="countdown-days">
                    <p class="countdown-digit"></p>
                    <p class="countdown-unit">{{days}}</p>
                </div>
                <div class="countdown-hours">
                    <p class="countdown-digit"></p>
                    <p class="countdown-unit">{{hours}}</p>
                </div>
                <div class="countdown-minutes">
                    <p class="countdown-digit"></p>
                    <p class="countdown-unit">{{minutes}}</p>
                </div>
                <div class="countdown-seconds">
                    <p class="countdown-digit"></p>
                    <p class="countdown-unit">{{seconds}}</p>
                </div>
            </div>
        </section>

        <hr class="section-divider section-divider-color1" />

        <section class="info">
            <div class="info-image-container">
                <img class="info-image" src="{{assetsPosition}}/assets/inbraccio.png" alt="in braccio" />
            </div>
            <div class="info-details">
                <p class="info-details-when">{{infoWhen}}</p>
                <p class="info-details-where-pre">{{infoWherePre}}</p>
                <p class="info-details-where"><strong>{{infoWhere}}</strong></p>
                <p class="info-details-where-sub">
                    <a
                        class="link"
                        target="_blank"
                        href="https://www.google.com/maps/place/50+Oakdale+Rd,+Nottingham+NG3+7EG/@52.9595391,-1.110218,17z/data=!3m1!4b1!4m6!3m5!1s0x4879c6ae8b459ef1:0x7c614aa4584f3b37!8m2!3d52.9595391!4d-1.110218!16s%252Fg%252F11f3xgm_9m"
                    >
                        {{infoWhereAddress}}
                    </a>
                </p>
                <div class="info-details-events">
                    <div class="info-details-event">
                        <p class="info-details-event-img two-images-swap-animation">
                            <img src="{{assetsPosition}}/assets/hearts1.png" />
                            <img src="{{assetsPosition}}/assets/hearts2.png" />
                        </p>
                        <p class="info-details-event-time">14:00</p>
                        <p class="info-details-event-what">{{infoCeremony}}</p>
                        <p class="info-details-event-what-sub">{{infoCeremonyDescription}}</p>
                    </div>
                    <div class="info-details-event">
                        <p class="info-details-event-img two-images-swap-animation">
                            <img src="{{assetsPosition}}/assets/burger1.png" />
                            <img src="{{assetsPosition}}/assets/burger2.png" />
                        </p>
                        <p class="info-details-event-time">18:00</p>
                        <p class="info-details-event-what">{{infoReception}}</p>
                        <p class="info-details-event-what-sub">{{infoReceptionDescription}}</p>
                    </div>
                    <div class="info-details-event">
                        <p class="info-details-event-img two-images-swap-animation">
                            <img src="{{assetsPosition}}/assets/party1.png" />
                            <img src="{{assetsPosition}}/assets/party2.png" />
                        </p>
                        <p class="info-details-event-time">20:30</p>
                        <p class="info-details-event-what">{{infoParty}}</p>
                        <p class="info-details-event-what-sub">{{infoPartyDescription}}</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class="section-divider section-divider-color2" />

        <section class="accommodation">
            <h2 class="accommodation-header-get">{{howToGetThere}}</h2>
            <div class="accommodation-place-container">
                <div class="accommodation-place-img-container">
                    <img src="{{assetsPosition}}/assets/garden.jpg" />
                </div>
                <div class="accommodation-place-description">{{accommodationDescription}}</div>
            </div>
            <h2 class="accommodation-header-italy">{{accommodationFromItaly}}</h2>
            <div class="accommodation-routes-container">
                <div class="accommodation-left-img">
                    <img src="{{assetsPosition}}/assets/howtoget2.png" />
                </div>
                <div class="accommodation-right-img">
                    <img src="{{assetsPosition}}/assets/howtoget1.png" />
                </div>
                <div class="accommodation-ema-route">
                    <p class="accommodation-ema-route-intro">
                        <strong>{{nottinghamRoute}}</strong>
                    </p>
                    <p class="accommodation-ema-route-details">{{nottinghamRouteDescription}}</p>
                </div>
                <div class="accommodation-london-route">
                    <p class="accommodation-london-route-intro">
                        <strong>{{londonRoute}}</strong>
                    </p>
                    <p class="accommodation-london-route-details">{{londonRouteDescription}}</p>
                </div>
            </div>
            <div class="accommodation-stay">
                <hr class="accommodation-stay-separator" />
                {{accommodationStay}}
            </div>
        </section>

        <hr class="section-divider section-divider-color3" />

        <section class="registry">
            <h2 class="registry-header">{{registryTitle}}</h2>
            <div class="registry-description">
                <p class="registry-description-1">{{registryDescription}}</p>
                <p class="registry-description-2">{{registryThanks}}</p>
                <div class="registry-image-container">
                    <img src="{{assetsPosition}}/assets/registry.png" />
                </div>
            </div>
        </section>

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                const target = new Date("2025-08-16T12:30:00Z");
                const days = document.querySelector(".countdown-days .countdown-digit");
                const hours = document.querySelector(".countdown-hours .countdown-digit");
                const minutes = document.querySelector(".countdown-minutes .countdown-digit");
                const seconds = document.querySelector(".countdown-seconds .countdown-digit");

                function updateCountdown() {
                    const now = new Date();
                    const diff = now - target;
                    const diffSeconds = Math.floor(diff / 1000);
                    const diffMinutes = Math.floor(diffSeconds / 60);
                    const diffHours = Math.floor(diffMinutes / 60);
                    const diffDays = Math.floor(diffHours / 24);
                    days.textContent = diffDays;
                    hours.textContent = diffHours % 24;
                    minutes.textContent = diffMinutes % 60;
                    seconds.textContent = diffSeconds % 60;
                }

                updateCountdown();
                setInterval(updateCountdown, 1000);
            });
        </script>
    </body>
</html>
