<!doctype html>
<html lang="{{lang}}">
    <head>
        <meta charset="utf-8" />
        <title>{{photosPageTitle}}</title>
        <link rel="stylesheet" href="{{photosAssetsPosition}}/photos/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <link rel="icon" type="image/gif" href="{{photosAssetsPosition}}/assets/favicon.gif" />
        <link href="https://fonts.googleapis.com/css?family=Aleo Light&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="hero-photo-bg"></div>
        <div class="photo-links-bar">
            <a
                href="https://kirstyrockettphotography.pic-time.com/-giuliovanessa/gallery?inviteptoken2=AAAAAGEAAABxZCXLriYjjae08KufMGMVE4aR"
                target="_blank"
                class="photographer-link"
                >{{photographerLinkText}}</a
            >
            <a href="https://photos.app.goo.gl/7QqemQK1mV38JZT9A" target="_blank" class="google-drive-link">{{googleDriveLinkText}}</a>
        </div>
    </body>
</html>
